<!DOCTYPE HTML >
<HTML>
   <HEAD>   
 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac84a17cfe.js" crossorigin="anonymous"></script>
<!--     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi billetera</title>
   </HEAD>

   <BODY class ="body-wrapper">
    <header>
        <div class="header hide form">
            <p>MI BILLETERA</p>
        </div>
    </header>
 
        <div class="main_form">
            <div class="entryForm_mainContainer"> <!-- widtget ingreso -->
                <div class="main_header-widget--desktop">
                    
                </div>
                <div>
    
                    <div class="entryForm_title"  data-type="entry">
                        <p>Nuevo Ingreso</p>
                    </div>
                    <form action="/entry"  method="POST"  class="" id="form">
                        <div class="entryForm_container">
                                
                                <label for="date">Fecha </label>
                                <div>
                                    <input type="date" name="date" id="date" required  >
                                    <span></span>
                                </div>
                            
                                
                                <label for="category">Categoria</label>
                                <div id="dropdown">
                                 <!--    <input type="text"  name="category" id="category" required > -->
                                 <select name="category" id="category-select" placeholder="Selecciona Categoria"> 
                                    <option value=""></option>
                                </select>
                                <a type="button" class="categoryEdit_btn" id="edit-btn" href = "/categoryEdit"><i class="fas fa-plus-circle"></i></a>
                                
                                 <span></span>
                                </div>
                                <div class="amount-symbol">
    
                                    <label for="amount">Monto</label>
                                    <span>$</span>
                                </div>
                                <div  >
        
                                    <input  name="amount" id="amount"   >
                                    <span></span>
                                </div>
                                <button type="submit" class="editForm-btn-order-delete " id ="btn" >Aceptar</button>
                        </div>
                  
        
                    </form>
                </div>
                </div>
        </div>
       
            <!-- prueba -->
     
        <footer>
            <div class="header hide form">

            </div>
        </footer>
        <script src="/js/validations.js"></script>
        <script src="js/entryFormScript.js" ></script>
       
   </BODY>
</HTML>