<!DOCTYPE HTML >
<HTML>
   <HEAD>   
 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac84a17cfe.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi billetera</title>
   </HEAD>

   <BODY>
 
        <div class="main">
            <div class="main_container-index ">

                <div class="main_header">
                    <p>MI BILLETERA</p>            
                </div>
                <div class="main_saldo">
                    <p>SALDO ACTUAL</p>
                    <p id="total">$3500</p>
                </div>
                <div>
                    <p>Ultimos movimientos</p>
                    <div class="index-btn">
                        <button id ="all">Todos</button>
                        <button id ="entry">Ingreso</button>
                        <button id = "withdrawal">Egreso</button>

                    </div>
                    <br>
                </div>
                <!-- item list -->
                <section class=" " id="balance"> </section>
                <template class="main_list" id="template-row"> 
                    <div class="list_table">
                            <div id="list_item">
                                <p id="date">17/2/2022</p>
                                <p id="category">Comida</p>
                                <p id="amount">$1500</p>
                            </div>
                            <a type="button" class="edit_btn" id="edit-btn"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>                   
                </template>
                <a type="button" class="see-more_btn" >Ver mas >></a>
                <!-- buttons -->
                <a type="button" class="entry_btn" href="/entry">Nuevo Ingreso</a>
                <a type="button" class="withdrawal_btn" href="/withdrawal" >Nuevo Gasto</a>
                </div>
        </div>
    
        <script src="js/indexScript.js"></script>
   </BODY>
</HTML>