<!DOCTYPE HTML >
<HTML>
   <HEAD>   
 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac84a17cfe.js" crossorigin="anonymous"></script>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi billetera</title>
   </HEAD>

   <BODY>
 
        <div class="main">
            <div class="main_container-index ">
                <div>

                    <div class="main_header">
                      
                        <i class="fa-solid fa-bars"></i>
                        <p>MI BILLETERA</p> 
                        <i class="fa-solid fa-power-off"></i>      
                    </div>
                    <div class="main_saldo">
                        <p>Balance Total</p>
                        <h2 id="total">$3500</h2>
                    </div>
                </div>
                <div class="main_list-container">
                    <div >
                        <p>Ultimos movimientos</p>
                        <br>
                        <div class="index-btn">
                            <button id ="all">Todos</button>
                            <button id ="entry">Ingreso</button>
                            <button id = "withdrawal">Egreso</button>
    
                        </div>
                        <br>
                    </div>
                    <!-- item list -->
                    <section class=" " id="balance"> </section>
                    <template class="main_list" id="template-row"> 
                        <div class="list_table">
                                <div id="list_item">
                                    <p id="date">17/2/2022</p>
                                    <p id="category">Comida</p>
                                    <p id="amount">$1500</p>
                                </div>
                                <a type="button" class="edit_btn" id="edit-btn"><i class="fa-regular fa-pen-to-square"></i></a>
                        </div>                   
                    </template>
                    <a type="button" class="see-more_btn" >Ver mas >></a>
                </div>
                <!-- buttons -->
                <div class="main_btn">
                    <a type="button" class="entry_btn" href="/entry">+ </a>
                    <a type="button" class="withdrawal_btn" href="/withdrawal" >-</a>

                </div>
                </div>
        </div>
    
        <script src="js/indexScript.js"></script>
   </BODY>
</HTML>