<!DOCTYPE HTML >
<HTML>
   <HEAD>   
 
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi billetera</title>
   </HEAD>

   <BODY>
 
        <div class="main_form">
            <div class="main_container">

                <div class="main_header">
                    <p>MI BILLETERA</p>            
                </div>
                <div class="entryForm_mainContainer">
                    <div class="withdrawalForm_title">
                        <p>Nuevo egreso</p>
                    </div>
                    <form action="/withdrawal"  method="POST"  class="" id="form">
                        <div class="entryForm_container">
                                
                                <label for="date">Fecha </label>
                                <input type="date" name="date" id="date">
                            
                            
                                <label for="category">Categoria</label>
                                <input type="text"  name="category" id="category">
                            
                                <label for="amount">Monto</label>
                                <input type="text" name="amount" id="amount" >
                                <button type="submit" class="entryForm_btn" id ="btn">Aceptar</button>
                        </div>
                        <a type="button" href ="/"class="see-more_btn" > &lt;&lt;Volver</a>
                    </form>
                </div>
              
        </div>
    
   </BODY>
</HTML>