
    *{
        font-family: 'Raleway', sans-serif;
        list-style-type: none
    }
    h1{
        padding:0;
        margin: 0;

    }


    a{
      /*   text-decoration: none; */
    }
   
    html{
        scroll-behavior: smooth;

    }
    p{
        margin:0
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:hover {
       
        text-decoration:none; 
        cursor:pointer;  
    }

    /* INDEX */
    .header{
        display:block;
        background-color: #41508e;
        width: 100%;
        height: 6vh;
        line-height: 6vh;
        text-align: center;
        color: white;
    }

    .main{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .main_form{
        display: flex;
        height: 70vh;
    }
    .main_container{
        display:grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 1em;
        justify-self: end;
        height: 50vh;
        width: 25em;
        border: 1px solid #cecece;
        padding: 0 0px 0px 0px;
        border-radius: 10px;
        box-shadow: 9px 9px  5px#80808038;
        background-color: #f1f1f1;
    }
    .main_container-index{
        display:grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 1em;
        justify-self: end;
        height: 96vh;
        border: 1px solid #cecece;
        padding: 0px 0px 10px 0px;
        border-radius: 10px;
        box-shadow: 9px 9px  5px#80808038;
        background-color: #f1f1f1;
        grid-template-rows: 0.fr;
    }
    .main_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #0b22a7ba;
        color:white;
        font-weight: bold;
        text-align: center;
        height: 6vh;
        align-items: center;
        margin: 0px 0px;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid #d1d1d1;
        padding: 0px 21px;
    }
    .main_saldo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 4em;
        align-items: center;
        font-size: 20px;
        border-radius: 0px 0px 13px 13px;
        background-image: linear-gradient(to right, #4a5cbb, #7a89c3);
        color: white;
    }
    .main_saldo p{
        font-size: 16px;
    }
    .main_list-container{
        border: 1px solid #dbdbdb;
        background-color: white;
        border-radius: 10px;
        padding: 1em;
        margin: 7px;
        height: 60vh;
    }
    .index-btn button{
        background-color: white;
        border: 1px solid grey;
        width: 32%;
        border-radius: 8px;
        height: 2em;
    }
    .main_list{
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #list_item{
        display: grid;
        grid-template-columns: 1fr 1.8fr 0.9fr;
        justify-content: space-between;
        border-bottom: 1px solid #cacbca;
        margin: 4px;
        padding: 1px;
        background-color: #ffffff6e;
    }
    .list_table{
        display:grid;
        grid-template-columns: 1fr 0.05fr;
    }
    .edit_btn{
        margin: 3px 0px;
        border-radius: 3px;
        cursor: pointer;
        color: #817777;
    }
    .main_btn{
        display:flex;
        justify-content: space-evenly;
    }
    .entry_btn{
        margin: 0px 0;    
        border-radius: 10px 0px 0px 10px;    
        cursor: pointer;     
        text-align: center;    
        color: white;    
        height: 100%;    
        font-size: 6em;    
        width: 48%;
        background: #4d5ebb;    
        vertical-align: middle;    
        display: flex;    
        align-items: center;    
        justify-content: center;    
        line-height: 0;
        transition: background-color 0.3s ease-out 100ms


    }
    .entry_btn:hover{
        background-color: #78CFA3
    }
    .withdrawal_btn{
        margin: 0;
        border-radius: 0px 10px 10px 0px;
        cursor: pointer;
        color: white;
        height: 100%;
        font-size: 6em;
        width: 48%;
        background: #4d5ebb;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        padding: 7% 13% 11%;
        transition: background-color 0.3s ease-out 100ms

        }
    .withdrawal_btn:hover{
        background-color: red;
    }
    
    .see-more_btn{
        text-align: end;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        cursor: pointer;
    }
    .positive {
        color: green;
        font-weight: bold;
    }
    .negative{
        color:red;
        font-weight: bold;
    }
    /* ENTRY FORM */
    .entryForm_container{
        width: 100%;
        display:grid;
        grid-template-columns: 0.7fr 1fr;
        padding: 1em;
        width: 100%;
        height: 14em;
        border: 1px solid #c3c3c3;
        justify-items: start;
        border-radius: 10px;
        margin-top: 5px;
        align-items: center;
        background-color: #ffffff;
    }
 .entryForm_container  input{
      
        border: none;      
        background-color: white;      
        border-bottom: 1px solid grey;      
        height: 2em;      
        width: 100%;
    }
    .entryForm_container div{
        display:flex;
        flex-direction: row;
        /* align-items: center; */
        width: 94%;
        justify-content: space-between;
    }
    .entryForm_container select{
        /* background-color: red; */
        height: 2em;
        width: 100%;
        border: none;
        font-size: 17px;
    }
    .amount-symbol{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: green; */
        display: inline;
    }
    .danger{
        color:red;
        font-size: 14px;
    }
  

    .entryForm_btn{
        grid-area: 4/2;
    }
    .entryForm_mainContainer{
        justify-self: center;
    }
    .entryForm_title{
        display: flex;
        background-color: #ffffff;
        height: 3em;
        text-align: center;
        justify-content: center;
        font-size: 21px;
        align-items: center;
        border: 1px solid #b9b7b7;
        border-radius: 10px;
    }
    #dropdown{
        /* background-color: red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        align-items: center;
        color: blue;
    }
    .withdrawal_title{
        background-color: red;
    }

    .editForm-btn-order-delete{
        grid-column: 2/3;
        width: 100%;
        border-radius: 18px;
        height: 2em;
        background-color: #41508e;
        border: 1px solid #acaaaa;
        color: white;
        font-weight: bold;
    }
    #content{
        align:center;
    }
    .main_widget-bar--desktop{
        display:none
    }
    .main_search--desktop{

        display:none;
    }
    .main_header-widget--desktop{
        display:none
    }
    @media screen and (min-width: 600px){  
        .header{
            display:block;
            background-color: #2f4ab9;
            width: 100%;
            height: 6vh;
            line-height: 6vh;
            text-align: center;
        }

        .main_container-index{
            width: 70%;
        }
        .main{
            height: 100%;
            width: 100%;
            border: 1px solid lightgrey;
            border-radius: 10px;
        }
        .main_btn{
            display:none
        }
        .main_body--desktop{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 1% 0%;
        }
        .main_container-index{
            width: 100%;
            margin: 0;
            height: 84vh;
            border: 1px solid #dddddd;
            /* display: flex; */
        }
        .main_widget-bar--desktop{
            display:flex;
            flex-direction: column;
            margin-left: 13px;
            justify-content: space-around;
            width: 50%;
            margin-right: 2%;
            ;
        }
        .index-btn button{
            display:none
        }
        .main_search--desktop{
            display:flex;
            flex-direction: column;
            width: 30%;
            padding: 1em;
            border: 1px solid #d1d1d1;
            border-radius: 10px;
            margin: 0em 1em;
            background-color: #f1f1f1;
            align-items: center;
            box-shadow: 2em;
        }
        .entryForm_mainContainer{
           border: 1px solid #dac7c7;
           width: 100%;
           border-radius: 10px;
           background-color: #f1f1f1;
           box-shadow: 9px 9px  5px#80808038;
           /* margin-top: 0; */
        }
        .main_header{
            display:none
        }
        .main_saldo{
            border-radius: 10px 10px 10px 10px;
        }
        .main_header-widget--desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #4c5dbb;
            color:white;
            height: 4vh;
            border-radius: 10px 10px 0px 0px;
            border: 1px solid #d1d1d1;
            width: 100%;
        }
        .entryForm_mainContainer div:nth-child(2){
            padding: 2%;
        }
       
        .wrapper{
            height: 0px;
            background: red;
        }
        .search-bar--container{
            display:flex;
            flex-direction: column;
            border-top: 1px solid #aca6a6;
            margin-top: 22px;
        }
        .search-bar--container button{
            background-color: white;
            border: 1px solid #aaaaaa;
            height: 2em;
            width: 100%;
            border-radius: 10px;
            margin-top: 0.5em;
        }
        .main_search--desktop img {
            width: 100px;
            height: 100px;
            border-radius: 72% 72%;
            object-fit: cover;
        }
        .main_search--desktop>div:first-of-type{
            display: flex;
            height: 10em;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
            /* border-bottom: 1px solid grey; */
            margin-bottom: 1em;
        }
        .search-bar--container select{
            width: 12em;
            height: 2em;
        }
        .search-bar--input {
            border: 1px solid #e0d6d6;
            border-radius: 19px;
            display: grid;
            align-items: center;
            background-color: white;
            height: 2em;
            grid-template-columns: 0.8fr 2fr;
            text-align: center;
            padding: 0px 5px;
            color: grey;
            width: 100%;
            
        }
        .search-bar--input input{
            border: none;
            width: 11vw;
            padding-right: 14px;
        }
        .search-bar--input i{
            flex-grow: 2;
        }
        ::placeholder{
            font-style: italic;
        }
        .search-bar--filter {
            /* border: 1px solid black; */
            margin-top: 17px;
        }
        .search-bar--filter  select{
            border: 1px solid #c5bbbb;
            margin-top: 7px;
        }
        .search-bar--filter  button{
            border: 1px solid #c7c7c7;
            margin-top: 7px;
            background-color: #41508e;
            color: white;
        }
    } 