
    *{
        font-family: 'Raleway', sans-serif;
        list-style-type: none
    }
    h1{
        padding:0;
        margin: 0;

    }


    a{
      /*   text-decoration: none; */
    }
   
    html{
        scroll-behavior: smooth;

    }
    p{
        margin:0
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    
    a:hover {
       
        text-decoration:none; 
        cursor:pointer;  
    }

    /* INDEX */
    .main{
        display: flex;        
        border: 1px solid black;
        height: 100vh;
        

    }
    .main_form{
        display: flex;
        /* border: 1px solid black; */
        height: 70vh;
    }
    .main_container{
        display:grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 1em;
        justify-self: end;
        height: 50vh;
        width: 25em;
        border: 1px solid #cecece;
        padding: 25px 10px 10px 11px;
        border-radius: 10px;
        box-shadow: 9px 9px  5px#80808038;
    }
    .main_container-index{
        display:grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 1em;
        justify-self: end;
        height: ma;
        width: 25em;
        border: 1px solid #cecece;
        padding: 24px 20px 10px 20px;
        border-radius: 10px;
        box-shadow: 9px 9px  5px#80808038;
    }
    .main_header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #0b22a7ba;
        color:white;
        font-weight: bold;
        text-align: center;
        height: 3em;
        align-items: center;
        /* margin: 0px 0px; */
    }
    .main_saldo{
        display: flex;
        border: 2px solid #afafaf;
        justify-content: space-evenly;
        margin-top: 1em;
        margin-bottom: 1em;
        height: 3em;
        align-items: center;
        font-size: 20px;
        border-radius: 13px;
    }
    .index-btn button{
        background-color: white;
        border: 1px solid grey;
        width: 32%;
        border-radius: 8px;
        height: 2em;
    }
    .main_list{
        display: grid;
        grid-template-rows: 1fr 1fr;
        /* border:1px solid black; */
        /* background-color: #e32f2f73; */
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #list_item{
        display: grid;
        grid-template-columns: 1fr 2fr 0.7fr;
        justify-content: space-between;
        border-bottom: 1px solid #cacbca;
        margin: 4px;
        padding: 1px;
        background-color: #ffffff6e;
        /* border-radius: 4px; */
    }
    .list_table{
        display:grid;
        grid-template-columns: 1fr 0.05fr;
    }
    .edit_btn{
        /* background-color: #c3c3c3; */
        margin: 3px 0px;
        border-radius: 3px;
        /* border: 1px solid #b1aeae; */
        cursor: pointer;
        color: #bbafaf;
    }
    .entry_btn{
        background-color: rgb(55 111 102 / 97%);
        margin: 3px 0;
        border-radius: 33px;
        border: 1px solid #464444;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        color: white;
        height: auto;
        padding: 6%;
        font-size: 18px;
    }
    .withdrawal_btn{
        background-color: #2735b9;
        margin: 3px 0px;
        border-radius: 33px;
        border: 1px solid #464444;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        color: white;
        height: auto;
        padding: 6%;
        font-size: 18px;
    }
    .see-more_btn{
        text-align: end;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        cursor: pointer;
    }
    .positive {
        color: green;
        font-weight: bold;
    }
    .negative{
        color:red;
        font-weight: bold;
    }
    /* ENTRY FORM */
    .entryForm_container{
        display:grid;
        grid-template-columns: 0.7fr 1fr;
        padding: 1em;
        /* width: fit-content; */
        grid-gap: 0.8em;
        height: 14em;
        /* border: 1px solid black; */
        justify-items: start;
        border-radius: 10px;
        margin-top: 1em;
    }
    .input{
 }
    .entryForm_btn{
        grid-area: 4/2;
    }
    .entryForm_mainContainer{
        justify-self: center;
    }
    .entryForm_title{
        display: flex;
        background-color: #dfdfdf;
        height: 2em;
        text-align: center;
        margin-top: -18px;
        justify-content: center;
        font-size: 21px;
        align-items: center;
    }
    .withdrawal_title{
        background-color: red;
    }

    .editForm-btn-order-delete{
        grid-column: 2/3;
        width: 100%;
        border-radius: 7px;
        height: 2em;
        background-color: #385bf3;
        border: 2px solid #acaaaa;
        color: white;
    }
    #content{
        align:center
    }

